@import url('https://fonts.googleapis.com/css?family=Cabin|Roboto:400,700');

body {
    margin: 0;
}
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

section {
    width: 850px;
    height: 900px;
    border: 2px solid black;
    margin: 10px;
}

.apercu-facture {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

span {
    font-family: 'Cabin', sans-serif;
    font-size:16px;
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
}

.bloc1, .bloc2, .bloc3 {
    display: flex;
}

.bloc1 {
    width: 100%;
    margin-left: 10px;
    flex-direction: row-reverse;
    justify-content: space-between;

}

.bloc2 {
    flex-direction: column;
}

.bloc3 {
    width: 100%;
    justify-content: space-between;
}

.bloc3 div:first-child {
    font-size: 10px;
    width: auto;
    margin-top: 50px;
    margin-left: 10px;
    background-color: #e5fffe;
}
.bloc3 div:last-child {
    margin-right: 150px;
    text-align: left;
}

h1{
    width: auto;
    margin-right: 50px;
    padding: 10px 50px;
    background-color: #e5fffe;
}

h3 {
    margin-left: 10px;
}
p {
    font-size: 10px;
    margin: 10px;
}

table {
    border-collapse: collapse;
    margin: 10px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    font-family: 'Cabin', sans-serif;
    text-align: center;
    padding: 5px 10px;
}
th {
    height: 40px;
    background-color: #ccffff;
}
td {
    height: 30px;
}
.tab-total  {
    width: 25%;
    align-self: flex-end;
    border: 2px solid black;
}
.tab-total td:first-child {
    text-align: left;
}
.tab-total td:last-child {
    text-align: right;
}

section div:last-child {
    text-align: center;
}
